{% extends 'webku/beranda.html' %}
{% block title %}About Me{% endblock %}

{% block content %}
<h3>Riwayat Pendidikan & Organisasi</h3>

<table class="table table-bordered">
  <tr>
    <th>Keterangan</th>
    <th>Tahun</th>
  </tr>
  <tr>
    <td>SDN SUKAMAHI 03</td>
    <td>2013 - 2018</td>
  </tr>
   <tr>
    <td>MTS MIFTAHUL ULUM</td>
    <td>2019 - 2022</td>
  </tr>
   <tr>
    <td>MA MIFTAHUL ULUM</td>
    <td>2022 - 2024</td>
  </tr>
   <tr>
    <td>STT TERPADU NURUL FIKRI</td>
    <td>2025 - Sekarang</td>
  </tr>
  <tr>
    <td>Organisasi paskibra</td>
    <td>2019 - 2020</td>
  </tr>
  <tr>
    <td>Organisasi pramuka</td>
    <td>2020 - 2021</td>
  </tr>
  <tr>
    <td>Organisasi Marching band</td>
    <td>2023 - 2024</td>
  </tr>
</table>
{% endblock %}
