{% extends 'webku/beranda.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h3>Home</h3>
<h4>Halo, selamat datang di website profil <b>Fahri Mulyadi</b></h4>
<p>
Website ini saya buat sebagai media untuk menampilkan biodata diri sekaligus sebagai sarana pembelajaran dalam pembuatan aplikasi web menggunakan framework Django supaya tampilannya responsif dan 

Pada website ini, saya menyajikan informasi mengenai biodata singkat, riwayat pendidikan, serta pengalaman organisasi yang pernah saya jalani. Selain itu, terdapat juga galeri yang berisi dokumentasi beberapa kegiatan. 


Terima kasih telah berkunjung ke website profil saya.</p>
{% endblock %}
